{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row">
    <div class="col-md-6">
        <h4>Your Email</h4>
        {{ form|crispy }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
    {{ address_formset.management_form }}
    <h4>Shipping Address</h4>
    {{ address_formset|crispy }}
    <p><a><i class="fa fa-plus"></i> Use a different billing address</a></p>
    <button class="btn btn-default">Submit</button>
    </div>
</div>

{% endblock %}