{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row">
    <form action="." method="post">
        {% csrf_token %}
        <div class="col-md-6">
        <h4>Shipping Address</h4>
        {{ shipping_form|crispy }}

        <div>
            <h4>Your Email</h4>
            {{ checkout_form|crispy }}
        </div>

        <input type="submit" class="btn btn-default"></input>
        </div>
    </form>
</div>

{% endblock %}