{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %} template-productpage {%endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ page.title }}</h1>
            <div class="product_description">{{ page.description|richtext  }}</div>

            <dl>
                <dt>Format</dt>
                <dd>
                <div class="col-md-6">
                    <select id="variant-select" class="selectpicker">
                    {% for variant in page.variants.all %}
                    <option value="{{variant.id}}">{{variant.music_format}}</option>
                    {% endfor %}
                    </select>
                </div>
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div class="image">
            {% if page.images %}
            {% for item in page.images.all %}
                {% image item.image fill-320x240 %}
            {% endfor %}
            {% else %}
                <img style="width: 450px; background-color: #ECEFF1;" src="..."/>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if page.tags.all.count %}
                <div class="tags">
                    <h3>Tags</h3>
                    {% for tag in page.tags.all %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p><a href="{{ page.get_parent.url }}">Return</a></p>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    $('.selectpicker').selectpicker();
})
</script>
{% endblock %}