{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %} template-productpage {%endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row col-md-12">
                <div class="image">
                {% if page.images %}
                {% for item in page.images.all %}
                    {% image item.image max-640x480 %}
                {% endfor %}
                {% else %}
                    <img style="width: 450px; background-color: #ECEFF1;" src="..."/>
                {% endif %}
                </div>
            </div>
            <div class="row col-md-12">
                {% if page.tags.all.count %}
                <div class="tags">
                    <h3>Tags</h3>
                    {% for tag in page.tags.all %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="row col-md-6">
                <br/>
                <a class="btn btn-default" href="{{ page.get_parent.url }}"><i class="fa fa-chevron-left"></i> Back to Products</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row col-md-12">
                <h1>{{ page.title }}</h1>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Format</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for variant in page.variants.all %}
                        <tr>
                            <td><p>{{variant.music_format}}</p></td>
                            <td>
                                {% if variant.stock > 0 %}
                                <button class="btn btn-success" data-variant-id="{{variant.id}}" id="btn-add-to-cart">Add to Cart</button>
                                {% else %}
                                <span class="label label-danger">Sold out</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                <br />
                {{ page.description|richtext  }}
                </div>
            </div>
        </div>        
    </div>
    
</div>

{% endblock %}
